<section class="comment-form">
	<h3>Add a comment</h3>
	<div>
		<form action="https://stmllr.net/add-comment" method="POST" enctype="multipart/form-data">
			<fieldset class="comment-fieldset">
				<label for="form-field-name">Your name:</label>
				<input type="text" name="name" id="form-field-name" value="">
				<label for="form-field-message">Your message:</label>
				<textarea name="message" id="form-field-message"></textarea>
			</fieldset>
			<input type="submit" name="submit" value="Submit">
			<p>Comments are morderated and need to approved. Please be patient.</p>
			<div class="hidden">
				<input type="hidden" name="page_url" value="{{ page.url }}">
				<label for="form-field-url">Leave this field empty</label>
				<input type="text" name="url" id="form-field-url">
			</div>
		</form>
	</div>
</section>
